.item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.name {
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Hiển thị 3 dòng */
    -webkit-box-orient: vertical;
}